# Travis config for TMIP-EMAT

language: python
sudo: false

python:
- "3.7"

env:
- DEPS="numpy matplotlib pandas jupyter ipyparallel nose pytest scikit-learn mock seaborn appdirs pydot plotly scipy"

before_install:
- "export DISPLAY=:99.0"
- "sh -e /etc/init.d/xvfb start"
- wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
- bash miniconda.sh -b -p $HOME/miniconda
- export PATH="$HOME/miniconda/bin:$PATH"
- hash -r
- conda config --set always_yes yes --set changeps1 no
- conda install -c conda conda-env
- conda update -q conda --no-deps
- conda info -a # Useful for debugging any issues with conda
- conda install --yes $DEPS # Replace dep1 dep2 ... with your dependencies
- conda install ema_workbench -c jpn
- pip install zmq # zmq is not available via conda for some reason
- pip install pydotplus
- pip install coveralls
- pip install pysd
- pip install nose-exclude
- pip install salib
- pip install future

install:
  - pip install .
  - pip show emat

script:
- pytest ./tests

