# Travis config for TMIP-EMAT

dist: xenial
language: python
sudo: false

python:
- "3.7"

env:
- DEPS="numpy matplotlib pandas jupyter ipyparallel nose pytest scikit-learn mock seaborn appdirs pydot plotly scipy statsmodels"

before_install:
- wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
- bash miniconda.sh -b -p $HOME/miniconda
- export PATH="$HOME/miniconda/bin:$PATH"
- hash -r
- conda config --set always_yes yes --set changeps1 no
- conda install -c conda conda-env
- conda update -q conda --no-deps
- conda info -a # Useful for debugging any issues with conda
- conda install --yes $DEPS # Replace dep1 dep2 ... with your dependencies
- conda install -c conda-forge nose-exclude salib coveralls pydot future platypus-opt
- conda list
- pip install zmq # zmq is not available via conda for some reason

install:
  - pip install .
  - pip show emat

script:
- pytest ./tests

